@mixin placeholder($width, $height) {
  &::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: $height / $width * 100%;
    background-color: #eee;
  }
}
