# .prettierrc

overrides:
- files: [".*.js","*.js"]
  options:
    semi: false
    singleQuote: true
    arrowParens: "always"
- files: "resources/assets/js/**/*.js"
  options:
    semi: false
    singleQuote: true
    arrowParens: "always"
- files: "resources/assets/css/**/*.scss"
  options:
    parser: "scss"
