//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$main-color: #c00;
$base-color: #fff;

$base-font-family: "ヒラギノ角ゴ ProN W3",
"Hiragino Kaku Gothic ProN W3",
HiraKakuProN-W3,
"ヒラギノ角ゴ ProN",
"Hiragino Kaku Gothic ProN",
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"游ゴシック",
"Yu Gothic,",
YuGothic,
Osaka,
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
sans-serif;
$base-font-size-pc: 16px;
$base-font-size-sp: 14px;
$base-font-color: #000;

$base-placeholder-color: #989aaf;

$base-background-color: $base-color;

$grid-split-pc: 24;
$grid-split-sp: 12;

$contents-grid-margin-pc: 2;
$contents-margin-sp: 30px;

$break-point-tb: 768px;
$break-point-pc: 1024px;

$img-path: "../images/";
